body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}

/* Header Button: Add a new Keyword */

.header-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  padding: 9px 0;
  border-radius: 5px;
  border: none;
  background-color: rgb(39, 52, 80);
  text-align: center;
  cursor: pointer;
}

.icon-container-style-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tab Header TabBar: Tasks, Collections, Done */

.tab-header-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.tab-header-container .tabs-header li {
  font-size: 14.2px;
  font-weight: 500;
  font-style: none;
  padding: 20px 0;
  margin: 0 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab-header-container li:nth-child(1) {
  gap: 6.42px;
}

.tab-header-container li:nth-child(2) {
  gap: 6.42px;
}
.tab-header-container li:nth-child(3) {
  gap: 6px;
}

.icon-container-style-tabbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container-style-tabbar svg {
  width: 95%;
  height: 95%;
}
.icon-container-style-tabbar svg path {
  fill: currentColor;
}

/* Fixed SVG half body white issue due to fill propertey */
.done-icon--container svg path {
  fill: none;
  stroke: currentColor;
}

/* Filter- Search Input && Filter button */

.filter-section {
  display: flex;
  justify-content: space-between;
}

.input-filter {
  width: 100%;
  max-width: 70%;
  font-size: 13.9px;
  padding: 6.5px 11px;
  border-radius: 9.5px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(113, 113, 113);

}


/* HIDE */
#collections-tab, #dones-tab {
  display: none;
}
