body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background: #544343;
    font-size: 15px;
  }
  
  #sidebar-content {
    border: 1px solid #ddd;
    padding: 10px;
    background: rgb(142, 35, 35);
  }
  
  .keyword-item {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  